.container{
  display: flex;
  justify-content: space-between;
  
  }

  .title-container{
    margin-top: 10%;
  }

.title{
  color: #fff;
  font-size: 50px;
  margin-top: 50px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 55px;

}
.button-product{
  margin-top: 30px;
  height: 60px;
  font-family: 'Roboto';

}
.img{
  margin-top: 18%;
  margin-right: 150px;
  width: 600px;
  border-radius: 30px;
  box-shadow:  5px 6px 8px 6px #121F55;
 
}

.subtitle{
  color: #fff;
  margin-top: 35px;
  font-size: 20px;
  font-family: 'Roboto';
}

.cards-container {
  margin-top: 88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  }
  
  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 240px;
  }

.example-card {
    margin: 18px;
    background-color: #fff;
    border-radius: 9px;
    
  
  width: 280px;
}

.button{
  display: flex;
  align-items: center;
  border: 1px solid;
}

mat-card-actions{
  display: flex;
  justify-content: center;

}

mat-card-title{
  color: #10146B
}



