<app-menu-bar></app-menu-bar>
<div class="container">
  <div class="title-container">
    <p class="title">Bem Vindo a VS Ferragens</p>
    <p class="subtitle">A empresa parceira que sua casa precisa</p>
  </div>
</div>
<div class="cards-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Portões</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/jpeg/minigrade.jpeg"
      alt="minigrade"
    />

    <mat-card-actions>
      <button mat-button color="primary" class="button">
        Clique para ver mais
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Box Banheiro</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/jpeg/boxbanheiro.jpeg" alt="box" />

    <mat-card-actions>
      <button mat-button color="primary" class="button">
        Clique para ver mais
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Motor de Portões</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/jpeg/motor.jpeg" alt="motor" />

    <mat-card-actions>
      <button mat-button color="primary" class="button">
        Clique para ver mais
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Janelas</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/jpg/janela.jpg" alt="Janelas" />

    <mat-card-actions>
      <button mat-button color="primary" class="button">
        Clique para ver mais
      </button>
    </mat-card-actions>
  </mat-card>
</div>
