<div class="main-container">
  <form class="input-fields" [action]="">
    <mat-form-field *ngFor="let input of inputData.controls; let i = index">
      <mat-label>{{ inputs[i].name }}</mat-label>
      <input
        *ngIf="inputs[i].type !== 'SELECT'"
        matInput
        [formControl]="getFormControl(i)"
        [placeholder]="inputs[i].name"
      />
      <mat-select
        *ngIf="inputs[i].type === 'SELECT'"
        [formControl]="getFormControl(i)"
        [placeholder]="inputs[i].name"
      >
        <mat-option
          *ngFor="let option of inputs[i].options"
          [value]="option.name"
        >
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()">
      <mat-icon>download</mat-icon>
      Simular orçamento
    </button>
  </form>
  <div class="img-container">
    <p>Imagem ilustrativa</p>
    <img class="img" src="{{ product?.imageUrl }}" width="380" />
  </div>
</div>
