<div class="main-container">
  <div class="main">
    <div class="image">
      <img src="{{ product?.imageUrl }}" />
    </div>
    <div class="image-scroll">
      <div class="img-preview-container"></div>

      <!-- Adicione mais imagens de outras janelas aqui -->
    </div>
  </div>
  <div class="container">
    <div class="product-info">
      <h1>Modelos de {{ product?.name }}</h1>
      <p class="description">
        {{ product?.description }}
      </p>
    </div>
    <button
      mat-flat-button
      color="primary"
      class="button"
      (click)="navigateTo('orçamento', product.id)"
    >
      Fazer orçamento
    </button>
  </div>
</div>
