<app-menu-bar></app-menu-bar>

<div class="container">
    <div class="tittle-container">
        <h1 class="tittle">Sobre a Vs Ferragens</h1>
    
        <p class="paragraph">A <strong class="emphasis">Vs Ferragens</strong> surgiu a mais de 30 anos atrás, sem mesmo ter um nome ou uma cara 
        de negócio,apenas com a vontade de tabalhar e deixar as residências com um ar mais
        moderno, o Sr. Valdecy da Silva já trabalhava fabricando esquadrias de alumínio, no
        bairro do Jaraguá, em Maceió.</p>
        <p class="paragraph">Após se mudar para o conjunto Graciliano Ramos em 2004, o Sr. Valdecy caminhava nas ruas do bairro a procura de serviço, consertando portas, janelas e portões dessa forma foi ficando conhecido na região e passando a fazer fazer serviços de esquadrias em alumínio por encomenda. </p>
    </div>  
</div>

