.container{
    display: flex;
    justify-content: center;
}

.tittle{
    color: #fff;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 35px;
    font-weight: 500;
    font-family: 'Roboto';
    line-height: 55px;

}

.paragraph{
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 350;
}

.emphasis{
    font-weight: 550;
}