body, html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  
  background: url('../assets/png/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  

}

.router-container {
  width: 90%;
  max-width: 1600px;
}

.ellipse-container {
  position: absolute;
  bottom: 0; /* Coloca o contêiner de elipses na parte inferior do contêiner principal */
  left: 0; /* Coloca o contêiner de elipses na extremidade esquerda do contêiner principal */
}

.ellipse-left {
  position: absolute;
  top: -150%;
  left: 0;
  // z-index: -1;
}

.ellipse-bottom {
  position: relative;
  /* A imagem "Ellipse baixo" permanece na posição padrão, não precisa de posicionamento absoluto aqui */
}
