.container {
  display: flex;
  align-items: center; /* Alinhar verticalmente os elementos no centro */
  padding: 15px 0; /* Adicionar espaço ao redor do conteúdo */
  background-color: transparent; /* Fundo transparente */
  justify-content: space-between;
}
.image{
  cursor: pointer;
}

img {
  max-height: 500px; /* Tamanho máximo da imagem */
  margin-right: 250px; /* Espaçamento à direita da imagem */
  @media only screen and (max-width: 768px) {
  margin-right: 0

  } 
}

.button-options {
  color: #fff; /* Cor do texto branco */
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 4px;

}

.button-options:hover{
  color: #0056b3;
}

.social-link {
  display: flex;
flex-direction: column;
color: #fff;
@media only screen and (max-width: 768px) {display: none}
}

.social-link:hover {
  color: #0056b3; /* Cor alterada ao passar o mouse (ajuste conforme necessário) */

}

.content{
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-basis: 23%;
  @media only screen and (max-width: 768px) {display: none}

}

.mobile-menu-container{
@media only screen and (min-width: 768px) {display: none}
button {
  color: white
}
}

mat-menu-item{
  display: flex;
  align-items: center;
}

