<div class="container">
  <img src="../../../assets/png/logo.png" alt="logomarca" />
  <div class="content">
    <p mat-flat-button (click)="navigateTo('produtos')" class="button-options">
      Produtos
    </p>
    <p (click)="navigateTo('sobre')" class="button-options">Sobre</p>
  </div>
  <div class="social-link">
    <a
      href="https://api.whatsapp.com/send?phone=5582999164713"
      target="_blank"
      class="social-link"
    >
      <p>
        <img src="../../../assets/svg/whatsapp.svg" alt="" />
      </p>
    </a>
    <a
      href="https://www.instagram.com/vsferragens_"
      target="_blank"
      class="social-link"
    >
      <p>
        <img src="../../../assets/svg/instagram.svg" alt="" />
      </p>
    </a>
  </div>

  <div class="mobile-menu-container">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateTo('produtos')">Produtos</button>
      <button mat-menu-item (click)="navigateTo('sobre')">Sobre</button>
      <button
        mat-menu-item
        (click)="goToLink('https://www.instagram.com/vsferragens_')"
      >
        Instagram
      </button>
      <button
        mat-menu-item
        (click)="goToLink('https://api.whatsapp.com/send?phone=5582999164713')"
      >
        WhatsApp
      </button>
    </mat-menu>
  </div>
</div>
